/* Common Style */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-size: 20px;
    font-family: "EB Garamond", serif;
    background: #ccc;
}

.wrapper {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

section:after {
    content: " ";
    display: block;
    clear: both;
}

/* End Common Style */

/* Header */
header {
    background: #111;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

header div.logo {
    width: 50%;
    float: left;
}

header nav {
    width: 50%;
    float: right;
}

header div.logo h1 {
    text-align: center;
    font-size: 1.7rem;
    margin: 1%;
}

header div.logo h1 #span-1 {
    color: #ff7f50;
    font-style: italic;
}

header div.logo h1 #span-2 {
    color: #ccc;
}

header nav ul li a {
    color: #aaa;
}

header nav ul {
    width: 100%;
    margin: 2% auto;
    text-align: center;
}

header nav ul li {
    margin-left: 5%;
    display: inline;
}

header nav ul li a:hover {
    color: #fff;
}

header nav ul li a.active {
    border-bottom: 1px solid #aaa;
}

/* End Header */

/* First Section */
section.first-section {
    position: relative;
    min-height: 600px;
    background: url('/images/bg.jpg') no-repeat 30% 10%;
    background-size: cover;
}

section.first-section h2 {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 40%;
    text-align: center;
    color: #ff7f50;
    font-size: 3rem;
}

/* End of First Section */

/* Second Section */
section.second-section {
    background: #000;
}

section.second-section form {
    text-align: center;
}

section.second-section form input {
    padding: 5px 10px;
    margin: 2% 0;
    font-size: 90%;
}

section.second-section form input[type="email"] {
    background: #ccc;
}

section.second-section form input[type="email"]:focus {
    background: #eee;
}

section.second-section form input[type="submit"] {
    background: #ff7f50;
    color: #333;
}

section.second-section form input[type="submit"]:hover {
    background: #dd4d20;
}

/* End of Second Section */

/* Third Section */
section.third-section img {
    width: 50%;
    float: left;
    padding: 5% 0;
    background: #ccc;
}

/* Footer */
footer {
    background: #000;
}

footer p {
    text-align: center;
    padding: 2% 0;
    font-style: italic;
    font-size: 1.4rem;
    color: #ccc;
}

/* Start About Us Page styling */
section.about-us {
    padding: 3% 0;
}

section.about-us h2 {
    text-align: center;
    margin-bottom: 3%;
    color: #555;
}

section.about-us div {
    width: 33.33%;
    float: left;
}

section.about-us div img {
    width: 50%;
    margin: auto;
    display: block;
    border-radius: 50%;
}

section.about-us div p {
    width: 60%;
    margin: auto;
    text-indent: 15px;
    text-align: justify;
    font-style: initial;
    color: #333;
}

section.about-us p::first-letter {
    font-size: 200%;
}